@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-anton {
    font-family: "Anton", sans-serif;
}
.my-bg{
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
}
.responsive{
    width: 100% !important;
}